<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>


<div class="ui pagination menu">
  <div class=" text item">
  Occurs every
  </div>
  <div class="ui transparent input item">
    <input size="1" value="1">
  </div>
  <div class="ui dropdown item">
    <div class="ui inline dropdown">
      <div class="text">Day</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item">Day</div>
        <div class="item">Week</div>
        <div class="item">Month</div>
        <div class="item">Year</div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.dropdown').dropdown()
</script>

