{% load static %}



<script type="text/javascript" src="/jsi18n"></script>
<link href="/static/recurrence/css/recurrence.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="/static/recurrence/js/recurrence.js"></script>
<script type="text/javascript" src="/static/recurrence/js/recurrence-widget.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<div class="ui grid" id="example3">
  	<div class="ui segment five wide column">
  		<div class="ui divided items">
    		{% for f in flows %}
    			<div class="item">
    	        	<div class="ui tiny image">
    	        	  <img src="https://semantic-ui.com/images/wireframe/image.png">
    	        	</div>
    	        	<div class="middle aligned content">
    	        	  <a class="header">{{f.name}}</a>
    	        	  <div class="ui container">
    	        	  	{{f.recurrence}}
    	        	  </div>
    	        	</div>
    	      	</div>
    		{% endfor %}
    	</div>
    </div>
    <div class="ui segment eleven wide column">
		<div class="ui sticky fixed top" style="margin-top: 60px;">
			<img class="ui wireframe paragraph image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
			<img class="ui wireframe paragraph image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
		</div>
    </div>
</div>
<script type="text/javascript">
	$('.ui.sticky')
  .sticky({
  	offset: 50,
    context: '#example3'
  });
</script>