<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<div class="ui four column doubling stackable grid">
	<div class="ui row">
	  <button class="ui column toggle button">Jan</button>
	  <button class="ui column toggle button">Feb</button>
	  <button class="ui column toggle button">Mar</button>
	  <button class="ui column toggle button">Apr</button>
	  <button class="ui column toggle button">May</button>
	  <button class="ui column toggle button">Jun</button>
	  <button class="ui column toggle button">Jul</button>
	  <button class="ui column toggle button">Aug</button>
	  <button class="ui column toggle button">Sep</button>
	  <button class="ui column toggle button">Oct</button>
	  <button class="ui column toggle button">Nov</button>
	  <button class="ui column toggle button">Dec</button>		
	</div>
</div>


<script type="text/javascript">
  $('.toggle').state()
</script>



<div class="divider"></div>


<div class="ui three column doubling stackable grid">
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
  <div class="column">
    <div class="ui segment">Content</div>
  </div>
</div>