<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<div class="ui five column doubling stackable grid">
	<div class="ui row">
	  <button class="mini ui column toggle button">1</button>
	  <button class="mini ui column toggle button">2</button>
	  <button class="mini ui column toggle button">3</button>
	  <button class="mini ui column toggle button">4</button>
	  <button class="mini ui column toggle button">5</button>
	  <button class="mini ui column toggle button">6</button>
	  <button class="mini ui column toggle button">7</button>
	  <button class="mini ui column toggle button">8</button>
	  <button class="mini ui column toggle button">9</button>
	  <button class="mini ui column toggle button">10</button>
	  <button class="mini ui column toggle button">11</button>
	  <button class="mini ui column toggle button">12</button>
	  <button class="mini ui column toggle button">13</button>
	  <button class="mini ui column toggle button">14</button>
	  <button class="mini ui column toggle button">15</button>
	  <button class="mini ui column toggle button">16</button>
	  <button class="mini ui column toggle button">17</button>
	  <button class="mini ui column toggle button">18</button>
	  <button class="mini ui column toggle button">19</button>
	  <button class="mini ui column toggle button">20</button>
	  <button class="mini ui column toggle button">21</button>
	  <button class="mini ui column toggle button">22</button>
	  <button class="mini ui column toggle button">23</button>
	  <button class="mini ui column toggle button">24</button>
	  <button class="mini ui column toggle button">25</button>
	  <button class="mini ui column toggle button">26</button>
	  <button class="mini ui column toggle button">27</button>
	  <button class="mini ui column toggle button">28</button>
	  <button class="mini ui column toggle button">29</button>
	  <button class="mini ui column toggle button">30</button>
	  <button class="mini ui column toggle button">31</button>		
	</div>
</div>


<script type="text/javascript">
  $('.toggle').state()
</script>
