<div class="reccurence">
  <h4 class="centered top attached ui header" style="margin-top:10px">{{flow.name.title}}</h4>
  <div class="ui attached segment">
    
    <div class="ui styled accordion " style="padding-bottom:0px">
      {% for rule in flow.rules %}
        <div class="title">
            <i class="dropdown icon"></i>
            <small class="ui inline ">{{rule.label}}</small>
        </div>
        <div class="content" style="padding-bottom:0px">
          {% include "budgetr/rulemodule.html" %}
        </div>
      {% endfor %}
    </div>
  
  </div>
  <div class="ui four bottom attached mini buttons">
    <button class="mini ui icon button new_rule"><i class="plus square outline icon"></i></button>
    <button class="mini ui icon button refresh_rule"><i class="refresh icon"></i></button>
    <button class="mini ui icon button save_rule"><i class="save icon"></i></button>
    <button class="mini ui icon button delete_rule"><i class="delete icon"></i></button>
  </div>
</div>
