<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

<div class="top attached ui segment" >hekko</div>
<div class="attached ui segment">
	<img class="ui wireframe paragraph image" src="https://semantic-ui.com/images/wireframe/paragraph.png">
</div>
<div ui bottom attached buttons>
	<button class="ui button">hello</button>
	<button class="ui button">bye bye</button>
</div>