<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>


<div class="ui mini buttons">
	<button class="ui toggle button">Mo</button>
	<button class="ui toggle button">Tu</button>
	<button class="ui toggle button">We</button>
	<button class="ui toggle button">Th</button>
	<button class="ui toggle button">Fr</button>
	<button class="ui toggle button">Sa</button>
	<button class="ui toggle button">Su</button>
</div>


<script type="text/javascript">
	$('.toggle').state()
</script>

